body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}
#open-btn{
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background:rgb(250, 18, 165) ;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
#open-btn:hover{
  background-color:rgba(250, 18, 165, 0.686) ;
}
.subcontainer h1{
  color: rgb(250, 18, 165);
}
.question-field{
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}
.question-field input{
  border: 2px solid rgb(250, 18, 165);
  height: 100px;
  text-align: center;
  outline: none;
}
.question-field button{
  border: none;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  padding: 15px 0;
  border-radius: 10px;
  background:rgb(250, 18, 165) ;
  cursor: pointer;
}
.question-field button:hover{
  background: transparent;
  color:rgb(250, 18, 165);
  border: 1px solid rgb(250, 18, 165);
  transition: .3s linear;
}

.alert {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8d7da; /* Red background color */
  color: #721c24; /* Dark red text color */
  margin-bottom: 15px;
  margin-top: 15px;
}


